.projects-container {
  width: 80%;
  margin: 1rem auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  border: 1px solid black;
  border-radius: 2px;
  padding: 2rem;
  margin-bottom: 1rem;
  background: white;
}
.card h2,
.card p,
.card button {
  margin-bottom: 1rem;
}

.card a {
  padding: 0.5rem;
  /* border: 1px solid #364f6b; */
  border-radius: 2px;
  background: #364f6b;
  color: white;
  text-decoration: none;
}

.card a:hover {
  opacity: 0.97;
}

.card p {
  text-align: center;
  line-height: 1.5;
}
